@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=IBM+Plex+Mono&family=Playfair+Display&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;

  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-thumb {
  background: #6268ff; 
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  background: #3c81ff; 
}


::-webkit-scrollbar-track {
  background: #ffffff; 
}


@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #0a192f; 
  }
}






